h1{
  font-family: Jaldi;
}
h2{
  font-family: Yanone Kaffeesatz;
}
h1,h2{
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}
p{
  font-family: PT Sans Narrow;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.75em;
  text-align: center;
}
.name{
  font-family: Comfortaa;
  font-weight: bold;
}
.profession{
  border-bottom: 3px solid black;
  padding-bottom: 0px;
}
img{
  display: inline-block;
  height: 40px;
  padding: 10px;
  width: 40px;
}
div{
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: center;
  width: auto;
}
.theme{
  font-family: Jaldi;
  letter-spacing: 3px;
  position: absolute;
  right: 0.5em;
  top: -1em;
}
a{
  color: #000000;
  text-decoration: none;
}
@media (min-width:320px) {
  h1{
    font-size: 1.8em;
  }
  p{
    font-size: 1.5em;
  }
}
@media (min-width:1280px) {
  p{
    font-size: 2em;
  }
}
.language{
  font-family: Jaldi;
  letter-spacing: 3px;
  position: absolute;
  left: 0.5em;
  top: -1em;
}
