h1{
  padding-top:50px;
}
h1,h2{
  font-family: Jaldi;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}
p{
  font-family: Jaldi;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}
.name{
  font-family: Bubbler One;
  font-weight: bold;
}
.profession{
  border-bottom: 3px solid black;
  padding-bottom: 0;
}
img{
  display: inline-block;
  height: 40px;
  padding: 10px;
  width: 40px;
}
div{
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: center;
  width: auto;
}
.theme{
  font-family: Jaldi;
  letter-spacing: 3px;
  position: absolute;
  right: 0.5em;
  top: -1em;
}
a{
  color: #000000;
  text-decoration: none;
}
.language{
  font-family: Jaldi;
  letter-spacing: 3px;
  position: absolute;
  left: 0.5em;
  top: -1em;
}
.gallery{
  position: absolute;
  top:-30px;
  left: 40%;
  right: 40%;
  text-align: center;
  width: 20%;
}
@media (min-width:320px) and (max-width: 480px){
  h1{
    font-size: 2em;
    padding-top: 35px;
    margin-bottom: -0.2em;
  }
  p{
    font-size: 2em;
  }
  h2{
    font-size: 1.9em;
  }
  a img{
    width: 50px;
    height: 50px;
  }
  .photo{
    padding: 20px;
  }
}
@media (min-width:768px){
  p{
    font-size: 3em;
  }
  h1{
    font-size: 2.75em;
  }
  h2{
    font-size: 2.5em;
  }
  h3{
    font-size: 2em;
  }
  a img{
    height: 60px;
    width: 60px;
  }
}
@media (min-width:1280px) {
  p{
    font-size: 2em;
  }
}
