body{
  background: black;
  color: white;
}
h1,h2{
  font-family: Jaldi;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}
p{
  font-family: Jaldi;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}
.name{
  font-family: Bubbler One;
  font-weight: bold;
}
.profession{
  border-bottom: 3px solid #ffffff;
  padding-bottom: 0px;
}
img{
  color: white;
  display: inline-block;
  height: 40px;
  filter: invert(100%);
  padding: 10px;
  width: 40px;
}
div{
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: center;
  width: auto;
}
.theme{
  font-family: Jaldi;
  letter-spacing: 3px;
  position: absolute;
  right: 0.5em;
  top: -1em;
}
a{
  color: #ffffff;
  text-decoration: none;
}
@media (min-width:320px) {
  h1{
    font-size: 1.8em;
  }
  p{
    font-size: 1.5em;
  }
}
@media (min-width:1280px) {
  p{
    font-size: 2em;
  }
}
